@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

html {
  box-sizing: border-box;
  background-color: #fbf9ff;
  font-family: Karla;
  color: #423e37;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* 16px = 1em; */

/* ==== NAV BAR ==== */

section {
  margin: 2em 1em;
}

#nav {
  position: fixed;
  top: 0%;
  width: 100%;
}

#nav a {
  display: inline;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav a:link {
  color: #423e37;
}

#nav a:visited {
  color: #3581b8;
}

#nav a:hover {
  color: #3581b8;
}

#nav a:active {
  color: #3581b8;
}

#nav ul {
  background-color: #cbc6c7;
  list-style: none;
  margin: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
  text-align: center;
}

#nav li {
  display: inline;
  font-size: 1.875em; /* 30px */
}

/* ==== HOME ==== */

#home {
  text-align: center;
  margin-top: 6em;
  padding: 0;
}

.emblem {
  width: 400px; /* 25em */
  height: 400px; /* 25em */
  overflow: hidden;
}

.my-title {
  font-size: 4.5em; /* 72px */
  margin: 0;
}

.subtext {
  font-size: 1.5em; /* 24px */
  margin-top: 1em;
}

.subtext p {
  margin-top: -10px;
  margin-bottom: 18px;
}

.social-icons {
  font-size: 3em;
}

/* ==== ABOUT ==== */

.profile-pic {
  width: 250px; /* 15.625em */
  height: 250px; /* 15.625em */
  overflow: hidden;
  border: 0.5px solid rgba(66, 62, 55, 0.5);
  border-radius: 2.5em /* 40px */;
}

.section-heading {
  font-size: 2.5em; /* 40px */
  text-align: center;
}

#about p i {
  font-size: 1.25em;
}

/* ==== RESUME ==== */

/* ==== PROJECTS ==== */

.projects-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  gap: 1.5em;
}

#projects .section-heading {
  flex: 2 0 100%;
  margin-top: 0;
}

.project-card-item {
  border: 1px black solid;
  flex: 1 0 0;
  width: 600px;
  height: 400px;
  background: #fcf7f8;
  border: 0.5px solid rgba(66, 62, 55, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.project-card-item i {
  font-size: 2em; /* 32px */
}

h3 {
  font-size: 2em; /* 32px */
}

/* ==== FOOTER ==== */
#footer {
  font-size: 0.75em;
  text-align: center;
}

/* ==== LINKS ==== */
a {
  text-decoration: none;
}

a:link {
  color: #423e37;
}

a:visited {
  color: #423e37;
}

a:hover {
  color: #423e37;
}

a:active {
  color: #423e37;
}
